<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Homepage for Chihwei Wu</title>
<link href="~/content2/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
    <header> <div align="center"><strong>Chihwei Wu's ASP,NET MVC Web Site in Windows Azure </strong></div>

        <nav>
		<div id="menu">
            <style scoped>
                *{margin: 0; padding: 0;}
                #menu{width:700px; margin: 0 auto; background-color: orange; height:20px;}
                #menu ul{list-style-type:none;}
                #menu ul li{float: left; position: relative;}
                #menu ul li:hover{background-color: lightblue;}
                #menu ul li a{color: #fff; padding: 0 20px; line-height:20px; font-size:11px; font-family:arial; display: block; text-decoration:none;}
                #menu ul li a:hover{background-color: lightblue;}
                #menu ul li ul li{float: none; position: relative;}
                #menu ul li ul{position: absolute; top:20px; left:0; display: none; background-color: grey; width:150px;}
                #menu ul li:hover > ul{display: block;}
                #menu ul li ul li a{white-space: nowrap; line-height:20px;}
                #menu ul li ul li ul{position: absolute; top:0; left:145px; display: none; background-color: grey; width:150px;}
            </style>
			
            <ul style="margin:20px 20px">
				<li>@Html.ActionLink("Home", "Index")</li>
				<li><a href="#">Form/ Layout Demos</a>
					<ul>
						<li>@Html.ActionLink("Web Form Demo", "WebForm")</li>
						<li><a href="#">Layout Demo</a>
                            <ul>
                                <li><a href="#">Absolute Layout</a></li>
                                <li><a href="#">Static Layout</a></li>
                                <li><a href="#">Float Layout</a></li>
                            </ul>
						</li>
					</ul>
				</li>
				<li><a href="#">ClientSide Demos</a></li>
                <li>@Html.ActionLink("ServerSide Demos", "ServersideDemo")</a></li>
				<li>@Html.ActionLink("About Myself", "Aboutme")</a></li>
			</ul>
		</div>


        </nav>

    </header>

        <div>
        @RenderBody()
         </div>

      



</body>
</html>
